# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [5]:
ser_int1 = pd.Series(np.random.randint(1, 4, 100))
ser_int2 = pd.Series(np.random.randint(1, 3, 100))
ser_int3 = pd.Series(np.random.randint(10000, 30000, 100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [9]:
df = pd.concat([ser_int1, ser_int2, ser_int3], axis = 1)

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [13]:
df = df.rename({0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, axis = 1)

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [23]:
bigcolumn = pd.concat([ser_int1, ser_int2, ser_int3], axis = 0)

bigcolumn = pd.DataFrame(bigcolumn)

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [24]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [25]:
bigcolumn.reset_index(drop=True, inplace = True)

In [26]:
bigcolumn

         0
0        3
1        3
2        3
3        1
4        2
..     ...
295  25347
296  21422
297  14099
298  10750
299  17312

[300 rows x 1 columns]